:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: crimson;
    color: white;
    font-weight: 600;
    padding-left: 15px;
    font-size: 18px;
}
.toolbar span{
    padding-left: 15px;
    margin-right: 70rem;
}

.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
}

.card.highlight-card {
    position: relative;
}

svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
}

svg#rocket-smoke {
    height: 800px;
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
}

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
.h1Class{
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: black;
    font-size: 55px;
    font-weight: 600;
}

.h1Class::before{
    content: "";
    position: absolute;
    margin-top: 100px;
    left: 50%;
    width: 300px;
    height: 3px;
    background: crimson;
    transform: translateX(-50%);
}
.h1Class::after{
    content: "Xenonstack";
    position: absolute;
    margin-top: 80px;
    left: 50%;
    font-size: 30px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}
.employee_form_left p{
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    font-size: 25px;
}
.employee_form_right input,select{
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    font-size: 18px;
}

.employee_form{
    max-width: 100%;
    max-height: 100%;
    position: relative;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0px;
}

.employee_form_left{
    padding-top: 30px;
    padding-left: 500px;
    padding-bottom: 0px;
}

.employee_form_right{
    padding-top: 54px;
    padding-left: 150px;  
    padding-bottom: 0px;  
}

.employee_form_right .text_box{
    width: 15rem;
    height: 1.5rem;
    margin-bottom: 1.55rem;
}
.employee_form_right .options{
    width: 15.5rem;
    height: 1.75rem;
    margin-bottom: 2rem ;
}
.employee_form_right .date{
    width: 15.2rem;
    height: 1.75rem;
    margin-bottom: 2.15rem;
}
.teamname{
    margin-left: -1rem;
    margin-bottom: 0.2rem;
}
.radio{
    font-size: large;
    padding-inline: 0.3rem;
    color: black;
    border-radius: 10%;
    accent-color: crimson;
}
.radio:hover{
    color: crimson;
    font-size: 19px;
    font-weight: bold;
}
input[type='radio']{
    width: 19px;
    height: 17px;
}
.submit_button {
    margin-left: 900px;
    margin-top: 20px;
    color: #fff;
    display: block;
    width: 160px!important;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: crimson;
    border: 2px solid crimson;
    transition: all 0.3s ease;
  
}
.submit_button:hover {
    color: crimson;
    background: none;
    transform: scale(1.2);
}

.get_button {
    margin-left: 50px;
    margin-top: 0px;
    color: crimson;
    display: block;
    width: 140px!important;
    height: 40px;
    outline: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: white;
    border: 2px solid white;
    transition: all 0.3s ease;
    font-weight: bolder;
  
}
.get_button:hover {
    color: white;
    background: none;
    border:  3px solid white;
    transform: scale(1.1);
    font-weight: bolder;
    font-style: italic;
}