.auth {
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: black;
    font-size: 45px;
    font-weight: 600;
}

.auth-password {
    margin-left: 54rem;
    margin-top: 4rem;
    text-align: center;
    width: 15rem;
    height: 2rem;
    margin-bottom: 1.55rem;
}


.auth-submit {
    margin-left: 910px;
    margin-top: 0rem;
    color: #fff;
    display: block;
    width: 160px !important;
    height: 40px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: crimson;
    border: 2px solid crimson;
    transition: all 0.3s ease;

}

.auth-submit:hover {
    color: crimson;
    background: none;
    transform: scale(1.2);
}