<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img width="45" alt="Angular Logo" src="assets/xenonstackLogo.png" />
    <span>EMPLOYEE LEAVE FORM</span>
    <button class="get_button" type="submit" (click)="getForm()">Submit Leave</button>
</div>

<h1 class="auth">Enter The Password to Access Employee Data</h1>

<form [formGroup]="form" class="auth-form">
    <input class="auth-password" type="password" placeholder="Enter your Password" formControlName="password">
    <input class="auth-submit" type="submit" (click)="getemployeeauth()">
</form>